<div class='modal fade' id="createModal">
  <div class="modal-dialog createModal">
    <div class="modal-content">
      <div class="leaveModal mar10" ng-controller='listCtrl' ng-click="cancelCreateModal()">
        <svg class="animated zoomIn pull-right" width=".5cm" height=".5cm" viewBox="0 0 400 400"> <g stroke="#999999"><line x1="100" y1="300" x2="300" y2="100" stroke-width="20"></line> <line x1="100" y1="100" x2="300" y2="300" stroke-width="20"></line></g></svg><i class="icon-remove"></i>
      </div>
      <div class="modal-body mar20t">
        <div class="">
          <h1 ng-if="currentView == 'educationView'">EDUCATION</h1>
          <h1 ng-if="currentView == 'investingView'">INVESTING</h1>
          <h1 ng-if="currentView == 'comingSoonView'">COMING SOON</h1>
        </div>
        <hr>


        <div ng-if="currentView == 'educationView'">
          <form name="submissionForm" class="modalForm" ng-controller='PostController' ng-submit="createCompany('education')">
            <div class="col-md-6">
              <div class="form-group">
                <label for="companyName">Company Name (education):</label>
                <input id="companyName" class='form-control' placeholder="Company Name" ng-model="newPost.name" required>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type='submit' class='btn btn-primary' id='submitBtn'> Submit </button>
            </div>
          </form>
        </div>

        <div ng-if="currentView == 'investingView'">
          <form name="submissionForm" class="modalForm" ng-controller='PostController' ng-submit="createCompany('investing')">
            <div class="col-md-6">
              <div class="form-group">
                <label for="companyName">Company Name (Investing):</label>
                <input id="companyName" class='form-control' placeholder="Company Name" ng-model="newPost.name" required>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type='submit' class='btn btn-primary' id='submitBtn'> Submit </button>
            </div>
          </form>
        </div>

        <div ng-if="currentView == 'comingSoonView'">
          <form name="submissionForm" class="modalForm" ng-controller='PostController' ng-submit="createCompany('comingSoon')">
            <div class="col-md-6">
              <div class="form-group">
                <label for="companyName">Company Name (comingSoon):</label>
                <input id="companyName" class='form-control' placeholder="Company Name" ng-model="newPost.name" required>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type='submit' class='btn btn-primary' id='submitBtn'> Submit </button>
            </div>
          </form>
        </div>




      </div><!-- /. modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
