
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	h1			{ font-size: 30px; }
	.content	{ max-width: 1340px; }
	.formFrame	{ padding: 30px 40px 40px; }
	.btn		{ width: auto; } // changes only buttons with this normal class to be standard size
	.btn-lg		{ width: auto; }

	.inlineFormLabel { font-size: 20px; }

	.banner {
		padding: 50px 0;
		h1{
			font-size: 4em;
			display: inline-block;
		}
		h2{
			font-size: 2em;
			font-weight: 300;
			margin: 0;
		}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 580px) {
		.deal-banner-logo{
		img{
			display: block;
		    margin-left: auto;
		    margin-right: auto;
			height: 120px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	// grid
	.col-sm-6 { width: 49%; }

	// elements
	.banner h1{ font-size: 4em; padding-top: 30px; h2{ margin: 30px 0 0 0; } }
	.search-nav input:focus{ width: 200px; }
	h1			{ font-size: 34px;
		span	{ font-size: 16px; }
	}
	h1, h2, h3,
	h4, h5, h6	{ margin: 0 0 20px 0; }

	// modal
	.modal-dialog.createModal { max-width: 800px; margin: 100px auto; }
	.modal-content { padding: 10px; }
	.modal-dialog{ width: 720px; padding: 0; margin-top: 100px; }

	.modal {
		.leaveModal{ position: absolute; top: 0; right: 0; }
		.favorite-button {right: 60px; top: 60px;}
		h5 { font-size: 18px; }
	}

}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	//grid
	.col-md-4 { width: 32%; }

	// elements
	section.firstSection { padding-top: 50px; }
}


/* Large Devices, Desktops */
@media only screen and (min-width : 1200px) {

	// grid
	.col-md-4 { width: 32.4%; }
	.col-lg-3 { width: 24%; }

	// elements
	h1			{ font-size: 42px;
		span	{ font-size: 20px; }
	}

	h2			{ font-size: 36px;
		span	{ font-size: 18px; }
	}

	h3			{ font-size: 30px;
		span	{ font-size: 15px; }
	}

	h4			{ font-size: 20px;
		span	{ font-size: 16px; }
	}

	h5			{ font-size: 18px;
				  font-weight: 300;
		span	{ font-size: 15px;
				  font-weight: 300; }
	}

	h6			{ font-size: 14px;
				  font-weight: bold;
		span	{ font-size: 12px;
				  font-weight: normal; }
	}

	.modal.youtube {
		iframe { width: 853px;
				 height: 480px; }
	}

	.formFrame h1 {font-size: 39px; }

	.video-modal-mirror { width: 869px; }


}
