//
// trendrr - Bootstrap Variables Modifications
//



// Accent colors
	
	$grayDarker:            lighten(#000, 13.5%) !default; // #222
	$grayDark:              lighten(#000, 20%) !default;   // #333
	$gray:                  lighten(#000, 33.5%) !default; // #555
	$grayLight:             lighten(#000, 60%) !default;   // #999
	$grayLighter:           lighten(#000, 93.5%) !default; // #eee




// Accent colors
	
	$gray-darker:           lighten(#000, 13.5%) !default; // #222
	$gray-dark:				lighten(#000, 20%) !default;   // #333
	$gray-light:			lighten(#000, 60%) !default;   // #999
	$gray-lighter:			lighten(#000, 93.5%) !default; // #eee
	
	
	$jMint:					#7cd8cb;
	$jMintDarker:           #4ac8b6;
	$jMintLighter:			#9ae0d6;
	$jCoral:				#EF776C;
	$jPink:					#ff8188;
	$jPurple:				#B384BA;
	$jYellow:				#F8D57B;
	$jBlue:					#95d2e9;
	$jOrange:				#f7a33c;
	$jIndigo:				#061b2b;

	$black:                 #000;
	$white:                 #fff;
	$blue:                  $jBlue;
	$blueDark:              #0064cd;
	$green:                 #86d5a2;
	$red:                   $jCoral;
	$yellow:                $jYellow;
	$orange:                $jOrange;
	$pink:                  $jPink;
	$purple:                $jPurple;




// Template

	$brand-primary-color:       $jMint;
	$brand-secondary-color:		$jCoral;
	$white:						#fff;
	$brand-primary-font: 		"Open Sans", sans-serif;
	$brand-secondary-font: 		"Gotham SSm A", "Gotham SSm B", sans-serif;
